
/*--------------------nav:container-----------------*/
/*para limpiar toda la pagina*/
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }
/*Para colocar el alto, ancho y color de la caja  que tiene la clase container  y que pertenece  nav*/
 .container {
  /* height: 107px;*/
   width: 100%;
   background-color: #2c3e50;
   position: fixed;
   z-index: 1000;
   /*display: inline-block;*/

 }
 /* Todos los estilos que se le aplica a todos los <a>*/
 .container a{
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   color: white;
 }
 /*Estilos para el titulo de la  izquierda START BOOTSTRAP: tama単o, alineado y que se comporte inline block */
 .bootstrap{
   /*display: inline-block;*/
   margin-top: 35px;
   margin-left: 120px;
   font-size: 32px;
 }

/*los estilos que tendra el menu de la izquierda*/

.menuright a:hover{
  color: #18bc9c;
}
.menuright{
   list-style: none;/* list-style:none para quitarle el estilo de lista con vi単etas*/
   transform: translateY(-120%);
   float: right;
   padding-right: 102px;
   /*width: 440px;
   margin-left: 870px;*/
   line-height: 30px;
   /*display: inline-block;*/
}
/*cada li se comporte inline-block  */
.menuright li{
  margin-right: 16px;/*Separacion entre cada palabra*/
  display: inline-block;
  font-size: 16px;
  letter-spacing:1px;
}

/*------------------------section: part1------------------------------*/
/* estilo de la caja de part1*/
.part1{
  background-color: #18bc9c;
  /*height: 77.5%;*/
  width: 100%;
  text-align: center;

}
img{
  margin-top: 200px;
}

.name{
  font-size: 51px;
  margin-top: 24px;
  line-height: 114px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.star::before {
  content: "";
  display: inline-block;
  width: 96px;
  height: 5px;
  margin-right: 7px;
  background-color: white;
  transform: translateY(-165%);
}
.star{
  line-height: 55px;
}
.star i{
   color: white;

}

.star::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width:96px;
  height: 5px;
  background-color: white;
  transform: translateY(-165%);
}

.skills h3{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  padding-bottom: 107px;

}

/*----------------part2------------*/

/*Estilos de la caja que contiene toda la seccion 2*/
.part2{
  /*outline: 2px solid red;*/
  text-align: center;
  width: 100%;
  /*height: 883px;*/
}
/*estilos al subtitulo portfolio*/
div h2{
  text-transform: uppercase;
  padding-top:  95px;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #212529;
}
/*dibujar la linea antes de la estrella*/
.part2 .star::before {
  background-color: #212529;
}
.part2 .star i{
  color: #212529;
}
/*dibujar la linea despues de la estrella*/
.part2 .star::after {
 background-color: #212529;
}
.part2 .figures{
  width: 90%;
  margin: auto;
}
.part2 figure  {
  /*background-color: salmon;*/
  display: inline-block;
  padding-left: 8px;
  /*position: relative;*/
}
figure a img{
  margin-right: 20px;  /*seperacion horizontal entre figura*/
  margin-top: 18px;/*seperacion vertical entre figura*/
  width: 349px;/*tama単o de cada imagen*/
  height: 253px;
  background-color: red;
  image:url(assets/images/lupa.png);
  background-size: 15%;
  background-repeat:no-repeat;
  background-position: center;
}
.part2 figure a:hover{
    background-color: red;
    opacity:0.1;

}
/*-------------------section: part3-------------------------*/
.part3{
  background-color: #18bc9c;
  /*height: 577px;*/
  width: 100%;
  text-align: center;
  margin-top: 130px;/*Separarlo de section:part2*/
  padding-bottom: 102px;


}
/*para la palabra about*/
.part3 div h2{
  padding-top: 112px;
  color: white;

}

.part3 .star::before {

  background-color: white;

}

.part3 .star i{
  color: white;
}
/*dibujar la linea despues de la estrella*/
.part3 .star::after {

  background-color: white;

}
/*estilo del parrafo*/
.columns p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-align: left;
}
.part3 .columns{
  text-align: left;
  /*outline: 2px solid red;*/
  /*width: 732px;
  height: 180px;*/
  margin-left:  311px;
  margin-right: 311px;
  display: inline-block;
}
/*para ponerlo el parrafo en 2 columnas*/
.columns p{
  column-count: 2;
  padding-top: 10px;
}
/*estilo boton download*/
.button {
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 3px 2px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  margin-top: 37px;
}
/*para cambiar a blanco y letras verdes al hacer click*/
.button:hover{
  background-color: white;
  color: #18bc9c;
}
/*para mover el icono de download*/
a i{
  padding-right: 3px;
}
/*----------------------------------part4--------------------------------*/
.part4{
  text-align: center;
  padding-bottom: 118px;
}
.part4 .star::before {

  background-color: #2c3e50;

}
.part4 .star i{
  color: #2c3e50;
}
/*dibujar la linea despues de la estrella*/
.part4 .star::after {
  background-color: #2c3e50;
}
/*formulario */
input[type=text], select {
  width: 50%;
  display: inline-block;
  border: none;
  padding-bottom: 60px;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  font-size: 24px;
  text-decoration: none;
  outline-style: none;
  border-bottom: 2px solid #ddd;

}
#message{
    padding-bottom:  120px;
}
.part4 .button{
  color: white;
  background-color: #18bc9c;
  margin-right: 700px;
  border-radius: 8px;

}
.part4 .button:hover{
  background-color: #006633;
}

/*footer*/
/*Estilos del contenedor footer*/
footer{
    position: relative;
    color: white;
    background-color:#2c3e50;
    padding:55px 80px 30px 80px;
    width:100%;
    overflow:auto;
}
/*Dividirlo en 3 yq se acomode al centro*/
.boxfooter{
    column-count:3;
    width: 90%;
    margin: auto;
}
.box{
    float: left;
    text-align:center;
}
/*los estilos de los 3 h3 que hay  en footer  en una sola clase titles*/
.titles {
    font-size:25px;
    padding-bottom: 26px;
    letter-spacing:2px;

    font-size: 28px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 34px;
    text-transform: uppercase;
    margin: auto;
}
/*estilos para los pde footer*/
.box p{
    font-size:20px;
    line-height:30px;
    font-family: 'Lato', sans-serif;
}

.box ul li{
    display: inline-block;
    padding-top:10px;
}
/*estilos de los cinco iconos de footer*/
.buttons{
    font-size:20px;margin-top:15px;
    border:solid 2px #fff;
    text-align:center;
    border:2px solid #fff;
    border-radius:100%;
    display: inline-block;
    color:white;
    padding:10px;
}
/*para cambiar el fondo al pasar el mouse*/
.buttons:hover{
    color:#18bc9c;
    border:solid 2px #fff;
    background:#fff;
    transition-duration:1s;
  }
  /*unca clase para e単 copyright al final de la pagina */
.down{
    margin-top: 120px;
    position: relative;
    left:50%;
    transform:translateX(-14%);
    padding-left: 30px;
    font-family: 'Lato', sans-serif;

}
/*para cambiar y mandar un enlaze a un p de la ultima columna*/
.box p a{
    color: #18bc9c;
    text-decoration:none;
  }
.box p a:hover{
    color: #18bc9c;
    text-decoration:underline;
  }
